html
  head
    title= title
    link(href='//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic', rel='stylesheet')
    link(href='//cdn.rawgit.com/necolas/normalize.css/master/normalize.css', rel='stylesheet')
    link(href='//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css', rel='stylesheet')
    style
      include ../node_modules/highlight.js/styles/atom-one-dark.css
      include ../styles/problem.css
  body
    div(class='row')
      div(class='column' id='tagline')
        a(href='/') // Interview Study Guide
    div(class='row')
      div(class='column column-25 no-print' id='menu')
        ul
          each category in menu
            li= category.name
              ul
                each problem in category.problems
                  li
                    a(href='/problems/' + problem)= menu.Case.title(problem)
      if explanation
        div(class='column')
          div!= explanation
      else
        div(class='container' id='landing')
          div(class='row')
            div(class='column column-100')
              div!= landing
          div(class='row')
            div(class='column column-100')
              each category in menu
                p= category.name
                  ul
                    each problem in category.problems
                      li
                        a(href='/problems/' + problem)= menu.Case.title(problem)    